@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Media Query*/
@media (max-width: 600px) {
  .stop-watch {
    width: 70vw;
  }
}
@media (max-width: 420px) {
  .time {
    font-size: 2rem !important;
  }
  .Start img {
    width: 50px !important ;
  }
  .Reset img,
  .Stop img {
    width: 30px !important ;
  }
}

/* Media Query*/

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.container {
  background: rgb(255,95,55);
  background: radial-gradient(circle, rgba(255,95,55,1) 9%, rgba(255,189,142,1) 71%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stop-watch {
  min-height: 60vh;
  min-width: 50vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("stopwatch_img/images/background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  margin-top: 7rem;
  gap: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  margin-block: 1rem;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0.6rem;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}

.Start i,
.Stop i,
.Reset i {
  font-size: 3rem;
  color: rgb(247, 83, 53);
  transition: all 0.2s ease-in-out;
}

.Stop i,
.Reset i {
  font-size: 2rem;
}

.Start i:hover,
.Stop i:hover,
.Reset i:hover {
  color: rgb(252, 185, 173);
}
.Start i:active,
.Stop i:active,
.Reset i:active {
  color: rgb(255, 38, 0);
}
